## API URLs
FORGOT_MAIL_URL=
APP_API_URL=

## AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=
AWS_REGION=

## Mail Provider
MAIL_PROVIDER=ethereal
SES_EMAIL=

## Storage
disk=local

REDIS_HOST=REDIS_HOST=localhost
REDIS_PORT=6379

SENTRY_DSN=